.mySwiper .swiper-button-prev {
  top: 41%;
  color: #198754;
}
.mySwiper .swiper-button-next {
  top: 41%;
  color: #198754;
}

.mySwiperDetail .swiper-button-prev {
  color: #198754;
}
.mySwiperDetail .swiper-button-next {
  color: #198754;
}
